p.red {
    color: red;
}
element.style {
    color: red;
}
p.red {
    color: red;
}
element.style {
    color: brown;
}
p.brown {
    color: brown;
}
element.style {
    color: blue;
}
p.blue {
    color: blue;
}